<h2>Webbutveckling - Ramschema</h2>

<label for="search">Sök: </label>
<input type="text" id="search" [(ngModel)] = "searchValue" (input)="applyFilter()">

@if(filtreradeKurser.length === 0) {
    <p>Inga kurser hittades...</p>
}

<table id="courseTable">
    <thead>
        <td class="headline"  (click)="sortTable('code')">Kurskod</td>
        <td class="headline"  (click)="sortTable('coursename')">Kursnamn</td>
        <td class="headline"  (click)="sortTable('progression')">Progression</td>


        <tr *ngFor="let kurser of filtreradeKurser">   <!--loopar igenom variabeln filtreradeKurer för filtrering av sökning-->
            <td> {{kurser.code}}</td>
            <td> {{kurser.coursename}}</td>            
            <td> {{kurser.progression}}</td>            
        </tr>
        </thead>
</table>