<h2>Ramschema för Webbutvecklings-programmet, MIUN</h2>

<label for="search">Sök: </label>
<input type="text" id="search">

<table id="courseTable">
    <thead *ngFor="let kurser of kurser">
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>   
            <th>Progression</th>
            <th>Syllabus</th>
        </tr>   
            <td> {{kurser.code}}</td>
            <td> {{kurser.coursename}}</td>            
            <td> {{kurser.progression}}</td>            
            <td> {{kurser.syllabus}}</td>
        </thead>
</table>